/* Continuous Page View */

#tabletop, #plankL, #plankR {
	display: none;
	}

#binder .iscrollbarV {
	visibility: hidden;
}

#binder:hover .iscrollbarV, #binder:focus .iscrollbarV {
	visibility: visible;
}

#sheet { 	/* Contains all pages, size determines how they can be imposed 	*/
			/* Can be used to make a horizontal slider like iPhone 			*/
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0;
}
	#sheet * {
		-webkit-transform: translate3d(0,0,0);	/* native scroll pixie dust */
	}
	#gridbox {
		margin: 0 auto;
	}

.folio { /* Page and associated content container */
	position: relative;
	top: 0; 
	left: 0%; 
	width: 100%; 
	overflow: visible;
	visibility: visible;
	margin: 10px;
	float: left;
}

/* recto and verso should be empty in fallback style! */

.verso { /* left facing page in spread */

}

.recto { /* right facing page in spread */

}

.back {
	visibility: hidden;
	display: none;
}

.next {
	visibility: hidden;
	display: none;
}


.flipper {
	visibility: hidden;
	display: none;
}



.header { /* attached to each page */
	width: auto;
	min-width: 0;
	border-bottom: 1px solid #000;
	overflow: hidden;
	z-index: 2;
	margin: 0 1pc 0 1pc;
}

.header h1 {
	color: #000;
	text-align: center;
    font-size: 18px;
    line-height:18px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-top: 12px;
}


.page {
	position: relative;
	left: 0%;
	width: 98%;
	height: auto; 
	background: #fff;
	font-size: 1em;
/*	margin: 10px auto 10px auto; */
	margin: 0;
	-moz-box-shadow: 0px 5px 5px #333;
	-webkit-box-shadow: 0px 5px 5px #333;
	box-shadow: 0px 5px 3px #333;
	border: 1px solid #ccc;
	overflow: hidden;
	visibility: visible;
}

.covercorners-back {
	margin-bottom: 55px;
}

.live {
	position: relative; 
	height: 85% !important;
	margin: 0 50px 44px 50px;
	font-size: 1em;
	overflow: hidden !important; 
}
	.live img {
		max-width: 100%;
		height: auto;
	}

.col2 {
	width: 100%;
	min-height: 100%;
	column-count: 2;
	column-gap: 0px;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	margin-right: 20px;
	overflow: visible;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 95%;
	height: 44px;
	border-top: 1px solid #ccc;
	text-align: right;
	font-style: italic;
	font-size: .5em;
	margin-left: 2%;
}

.shadow {
	position: absolute;
	top: 0px; left: 0;
	z-index: 10;
	background: rgba(0,0,0,0); /* IE Needs This */
}
	.shadow:hover, .shadow:focus {		
	}

.page, .shadow {
	-webkit-transform: scale(.25) !important;
	-webkit-transform-origin: 0% 0%;
	-moz-transform: scale(.25) !important;
	-moz-transform-origin: 0% 0%;
	-o-transform: scale(.25) !important;
	-o-transform-origin: 0% 0%;
	-ms-transform: scale(.25) !important;
	-ms-trsnform-origin: 0% 0%;
	transform: scale(.25) !important;
	transform-origin: 0% 0%;
}

#spineshadow { display: none; }
#masthead {
	margin: -3pc;
}


#navbar0 {
	display: none;
}


#banneradbox img {
	width: 100%;
}

.bannerad_dn {
	top: 0px;
}

#features li {
	font-family: Arial, Sans-serif;
	font-size: 36px;
	font-weight: bold;
	list-style: none;
}
	#features li a {
		color: yellow;
		text-decoration: none;
		text-shadow: 2px 2px 0px black;
	}
	#features li a:hover {
		color: white;
	}

@media only screen and (min-width: 1600px) {
	#gridbox {
		width: 1491px;
	}
	.folio {
		width: 193px;
		height: 226px;
	}
	.page, .shadow {
		width: 768px;
		height: 902px;
	}
	.live {
		height: 98%;
		margin: 0 72px 44px 36px;
	}
	.footer {
		font-size: 1em;
	}
}
@media only screen and (min-width: 1280px) and (max-width: 1599px) {
	#gridbox {
		width: 1280px;
	}
	.folio {
		width: 161px;
		height: 188px;
	}
	.page, .shadow {
		width: 640px;
		height: 750px;
	}
	.live {
		height: 98%;
		font-size: .83em;
		margin: 0 50px 44px 25px;
	}
	.footer {
		font-size: .75em;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	#gridbox {
		width: 890px;
	}
	.folio {
		width: 128px;
		height: 164px;
	}
	.page, .shadow {
		width: 512px;
		height: 632px;
	}
	.live {
		height: 98%;
		font-size: .66em;
		margin: 0 50px 44px 25px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#gridbox {
		width: 640px;
	}
	.folio {
		width: 193px;
		height: 226px;
	}
	.page, .shadow {
		width: 768px;
		height: 902px;
	}
	.live {
		height: 98%;
	}
	.footer {
		footer-size: 1em;
	}
}

/* Make sure small screens do not see two column text */
@media only screen and (min-width: 640px) and (max-width: 767px) {
	#gridbox {
		width: 545px;
	}
	.folio {
		width: 161px;
		height: 188px;
	}
	.page, .shadow {
		width: 640px;
		height: 750px;
	}
	.live {
		height: 98%;
		margin: 0 72px 0px 72px;
	}
	.footer {
		font-size: .75em;
	}
}

@media only screen and (min-width: 480px) and (max-width: 639px) {

#navbar0 {
	display: none;
}
#gridbox {
	width: 425px;
}
.folio {
	width: 121px;
	height: 80px;
}
.page, .shadow {
	width: 480px;
	height: 320px;
}

	.col2 {
		column-count: 1;
		-webkit-column-count: 1;
		-moz-column-count: 1;
	}
	
	.live {
		height: 75% !important;
		margin: 0 10px 54px 10px;
	}
}

@media only screen and (max-width: 320px) {

#navbar0 {
	display: none;
}

#gridbox {
	width: 305px;
}

.folio {
	width: 81px;
	height: 121px;
}
.page, .shadow {
	width: 320px;
	height: 480px;
}


	.col2 {
		column-count: 1;
		-webkit-column-count: 1;
		-moz-column-count: 1;
	}
	
	.live {
		height: auto;
		margin: 0 10px 54px 10px;
	}
}

/*======================================*/
/* PRINT STYLES							*/
/*======================================*/
@media print {

	#skip2nav, #upbox, #switchbox, #splash, #controlbox0,
	#controlbox1, #zoom, #pan, #tabletop,#spineshadow,
	#lightbox-help, #lightbox-about, .plank, .closeit, .flipper {
		display: none;
	}

html, body {
	background: white;
	overflow: visible;
	}

#binder {
	position: relative;
	top: auto;
	left: auto;
	width: auto;
	height: auto;
	margin: auto;
	padding: 0;
	page-break-inside: inherit;
}

#sheet { 	/* Contains all pages, size determines how they can be imposed 	*/
	width: 100%;
	height: auto;
	overflow: visible !important;
	margin: 0;
	page-break-inside: inherit;
	}
	#gridbox {
		width: 85%;
	}
	
	a, a:link, a:visited {
		background: white;
		color: black;
		text-decoration: underline;
	}
	/* Insert parenthetical link after link text */
	a:link:after, a:visited:after {
			content: " (" attr(href) ") ";
   			font-size: 90%;
   	}
   	/* Change Relative links to full URLs on print */
   	/* IMPORTANT! CHANGE URL TO MATCH YOUR SITE!!! */
   	a[href^="/"]:after {
  		content: " (http://www.ryumaru.com" attr(href) ") ";
   }	
   
.folio { /* Page and associated content container */
position: relative;
	top: 0; 
	left: 0;
	width: 128px;
	height: 164px; 
	overflow: visible;
	border: none;
	page-break-after: always;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 10px;
	float: left;
}

.page {
	width: 512px;
	height: 632px;
	border: 2px solid black;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transform: scale(.25) !important;
	-webkit-transform-origin: 0% 0%;
	-moz-transform: scale(.25) !important;
	-moz-transform-origin: 0% 0%;
	-o-transform: scale(.25) !important;
	-o-transform-origin: 0% 0%;
	-ms-transform: scale(.25) !important;
	-ms-trsnform-origin: 0% 0%;
	transform: scale(.25) !important;
	transform-origin: 0% 0%;
}

/* recto and verso should be empty in fallback style! */

.verso { /* left facing page in spread */

}

.recto { /* right facing page in spread */

}
.covercorners-back {
	margin-bottom: 10px;
}

.header { /* attached to each page */
	width: auto;
	background: none;
	overflow: visible;
	margin: 0 10px 0 10px;
	border-bottom: 2px solid black;
}

.header h1 {
	color: #000;
}

.recto .title {
	text-align: left;
}

.live {
	width: auto;
	margin: 0 10px 0 10px;
}

.footer {
	width: auto;
	margin: 0 10px 0 10px;
}

#lightbox {
	display: none;
}

.lightboxthumb {
	max-width: 320px;
}

}

#vcheck {
	width: 1px;
}