#binder {
	top: 44px;
	bottom: 44px;
}
#viewbutton4 { display: block !important;}
#rackdata {
	height: 0;
	width: 0;
	display: none;
}

#zoom {
	top: 45px;
}
#controltoggle {
	display: none;
}	
#folio0 {
	-webkit-transition: left;
	-webkit-transition-delay: 0;
	-webkit-transition-duration: 1s;
	-moz-transition: left;
	-moz-transition-delay: 0;
	-moz-transition-duration: 1s;
	transition: left;
	transition-delay: 0;
	transition-duration: 1s;
}
	.sheet_in {
		left: 0 !important;
	}
	.sheet_out_left {
		left: 100% !important;
	}
	.sheet_out_right {
		left: -100% !important;
	}
	.sheet_out_part_left {
		left: 60% !important;
	}
	.sheet_out_part_right {
		left: -60% !important;
	}
.folio, .page {
	width: 100% !important;
	background: transparent !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
}
#page0 { margin: 0 auto; }
.shadow, #spineshadow { display: none;}
.header, .footer {
	display: none;
}
.live {
	-webkit-transform: translate3d(0,0,0);
	margin: 0 auto 20px auto !important;
}
#folio1 {
	display: none !important;
}
#navbar0 {
	display: block !important;
}
#masthead {
	margin: 44px auto 10px auto !important;
	text-align: center;
}

#searchbox {
position: absolute;
left: 0;
width: 100%;
margin: 0;
padding: 0;
display: table;
-webkit-transition: top;
-webkit-transition-timing-function: ease-in-out;
-webkit-transition-duration: 500ms;
-moz-transition: top;
-moz-transition-timing-function: ease-in-out;
-moz-transition-duration: 500ms;
-o-transition: top;
-o-transition-timing-function: ease-in-out;
-o-transition-duration: 500ms;
-ms-transition: top;
-ms-transition-timing-function: ease-in-out;
-ms-transition-duration: 500ms;
transition: top;
transition-timing-function: ease-in-out;
transition-duration: 500ms;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.top {
	top: 0px;
}

.bottom {
	bottom: 0px;
	}

.drop {
	position: relative;
	top: 12px;
}
.header {
	clear: both;
	background: white;
	background: rgba(255,255,255,.5);
	padding: 5px;
	border:1px solid;
}


.slot {
	position: relative;
	width: 100%;
	height: auto;
	float: left;
	margin-top: 0;
	display: table;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #333;
	}

.cover {
	display: none;
}

.slot .cover {	

}
	.cover_out {

	}
	.cover_in {

	}
.on_reading_list { display: none;}
.slot .cover:hover, .slot .cover:focus {

}
	.cover .thumbnail {
		height: 100%;
		width: 100%;
	}
	.cover .date {
		display: none;
	}
	.marked .on_reading_list {
		display: inline;
	}	

.slot .description {
	display: block;
	margin: 20px 100px 20px 20px;
}
	.slot .description h1 {
		margin: 0;
		padding: 0;
		font-size: 1.5em;
	}
	.slot .description h4 {
		font-size: .75em;
		margin: 0;
		padding: 0;
	}
	.slot .description .blurb {
		display: none;
	}
	.slot .description .meta {
		font-size: .75em;
	}

.appbanner_dn {
	top: 44px;
}
	.noverflow {
		overflow: hidden;
	}
.read  {
	display: table;
	position: absolute;
	top: 20px;
	right: 20px;
}
	.read:hover, .read:link , .read:visited , .read:focus  {
		text-decoration: none !important;
	}
	.read .button {
		white-space: nowrap;
		overflow: visible;
		display: table;
		padding-left: 7px;
		padding-right: 7px;
		width: 100px;
		margin: 0 auto;
	}



#notice {
	text-align: center;
	}
	
#footer {
clear:both;
height:100px;
text-align:center;
}
	
#footer .splash-notice {
	font-size: 12px;
	margin: 10px;
	text-align: center;
	display: block;
	visibility: visible;
}
.footpages {
	font-size: 12px;
	font-weight: bold;
	margin: 10px auto;
	padding:2px;
	background: #fff;
	background: rgba(255,255,255,.50);
	color: black;
	display: table;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

#item_list {
	overflow: auto;
}

#item_list .read  {
	top: 0px;
	right: 20px;
}

#pagecounter {
	position: absolute;
	z-index: 2500;
	margin: 0;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #666;
}

.catid { display: none; }
#helpbutton { display: none; }
/* in-app viewer reading list */
#dropbar_thumbs {
	padding-top: 0px;
}
#dropbar_thumbs .slot {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
	#dropbar_thumbs .slot .description {
		margin: 20px 100px 20px 20px;
	}
	#dropbar_thumbs .slot .description h1 {
		font-size: 1.25em;
		text-align: left;
	}
	#dropbar_thumbs .slot .description h4 {
		font-size: .75em;
		margin: 0;
		padding: 0;
		text-align: left;
	}
	#dropbar_thumbs .slot .description .meta {
		display: none;
	}
	#dropbar_thumbs .slot .read {
		position: absolute !important;
	}
	#dropbar_thumbs .slot .read {
		width: 75px;
		bottom: auto;
		top: -5px;
		right: 10px;
		margin-left: 0px;
	}
	#dropbar_thumbs .double {
		width: 20%;
	}
	#dropbar_thumbs .read .button {
		width: 75px;
		display: block;
		overflow: hidden;
	}
	#dropbar_thumbs .read .button p {
		font-size: 12px;
	}

/*==============================================*/
/*	Desktop										*/
/*==============================================*/
@media only screen and (min-width: 1600px)  {
	.double {
		width: auto;
	}
	.double .button {
		width: 50px;
	}
	#page_nav_right {
		float: left;
		margin-left:-10px;
	}
	#pagecounter {
		top: 10px;
		right: 10px;
	}
	#item_list {
		margin-left: 1%;
	}
	.slot {
		width: 33%;
		float: left;
		border-left: 1px solid #eee;
		border-right: 1px solid #333;
	}

}
/*==============================================================*/
/* Desktop Screen 1280 to 1600 px */
@media only screen and (min-width: 1280px) and (max-width: 1599px) {
	.double {
		width: auto;
	}
	.double .button {
		width: 50px;
	}
	#page_nav_right {
		float: left;
		margin-left:-10px;
	}
	#pagecounter {
		top: 10px;
		right: 10px;
	}
	#item_list {
		margin-left: 1%;
	}
	.slot {
		width: 33%;
		float: left;
		border-left: 1px solid #eee;
		border-right: 1px solid #333;
	}

}
/*==============================================*/
/* Tablet UI (Landscape)							*/
/*==============================================*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	.double {
		width: auto;
	}
	.double .button {
		width: 50px;
	}
	#item_list {
		margin-left: 1%;
	}
	.slot {
		width: 49%;
		float: left;
		border-left: 1px solid #eee;
		border-right: 1px solid #333;
	}
	#page_nav_right {
		float: left;
		margin-left:-10px;
	}
	#pagecounter {
		top: 10px;
		right: 10px;
	}

	.iHide {
		display: none;
	}

}


/*==============================================*/
/* Tablet UI (portrait)							*/
/*==============================================*/
@media only screen and (min-width: 720px) and (max-width: 1023px)  {
	.double {
		width: auto;
	}
	.double .button {
		width: 50px;
	}
	#page_nav_right {
		float: left;
		margin-left:-10px;
	}
	#pagecounter {
		top: 10px;
		right: 10px;
	}


	.breaker {
		clear: both;
	}
	.iHide {
		display: none;
	}

	#carousel {

	}

}
/*==============================================*/
/* Low-Res Tablet UI (portrait)							*/
/*==============================================*/
@media only screen and (min-width: 600px) and (max-width: 719px)  {
 #pagecounter {
 	position: fixed;
 	top: 50% !important;
 	left: 50% !important;
 	right: auto !important;
 	height: 15px;
 	width: 100px;
 	margin-top: 40px !important;
 	margin-left: -55px !important;
 	background: black;
 	color: white;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	-ms-border-radius: 5px;
 	border-radius: 5px;
 }
	.double .button {
		width: 40px;
	}

	.breaker {
		clear: both;
	}
	.iHide {
		display: none;
	}

}
/*==============================================*/
/* Phone UI (Landscape)							*/
/*==============================================*/
@media only screen and (min-width: 480px) and (max-width: 599px) {
 #pagecounter {
 	position: fixed;
 	top: 50% !important;
 	left: 50% !important;
 	right: auto !important;
 	height: 15px;
 	width: 100px;
 	margin-top: 40px !important;
 	margin-left: -55px !important;
 	background: black;
 	color: white;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	-ms-border-radius: 5px;
 	border-radius: 5px;
 }
	.double {
		width: 20%;
	}

	.slot .description h1 {
		font-size: 1.5em;
	}
	.slot .description h4 {
		font-size: .75em;
		margin: 0;
		padding: 0;
	}
	.slot .description .blurb {
		font-size: .75em;
	}
	.slot .description .meta {
		font-size: .50em;
	}
	.read .button {
		width: 75px;
		display: block;
		overflow: hidden;
	}
	.read .button p {
		font-size: 12px;
	}	
#masthead {
	padding: 0 5px;
}
	#masthead img {
		width: 100%;
		height: auto;
	}
	.iHide {
		display: none;
	}

}
/*==============================================*/
/* Phone UI (Portrait)							*/
/*==============================================*/
@media only screen and (max-width: 479px) {
 #pagecounter {
 	position: fixed;
 	top: 50% !important;
 	left: 50% !important;
 	right: auto !important;
 	height: 15px;
 	width: 100px;
 	margin-top: 40px !important;
 	margin-left: -55px !important;
 	background: black;
 	color: white;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	-ms-border-radius: 5px;
 	border-radius: 5px;
 }
	.double {
		width: 20%;
	}
	.cover {
		width: 75px;
		height: 100px;
	}
	.read .button {
		width: 75px;
		display: block;
		overflow: hidden;
	}
	.read .button p {
		font-size: 12px;
	}
#masthead {
	padding: 0 5px;
}
	#masthead img {
		width: 100%;
		height: auto;
	}

	.slot .description h1 {
		font-size: 1.25em;
	}
	.slot .description h4 {
		font-size: .75em;
		margin: 0;
		padding: 0;
	}
	.slot .description .blurb {
		font-size: 1em;
	}
	.slot .description .meta {
		font-size: .50em;
	}	
	.iHide {
		display: none;
	}
	#item_list .read {
		top: -10px;
		right: 10px;
	}
}

/*==============================================================*/
/* High Density Displays */
@media only screen and (-webkit-min-device-pixel-ratio : 2.0),
only screen and (min--moz-device-pixel-ration: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {


}