@font-face {
  font-family: 'socialicons';
  src:  url('iconfont/socialicons.eot?jch1vp');
  src:  url('iconfont/socialicons.eot?jch1vp#iefix') format('embedded-opentype'),
    url('iconfont/socialicons.ttf?jch1vp') format('truetype'),
    url('iconfont/socialicons.woff?jch1vp') format('woff'),
    url('iconfont/socialicons.svg?jch1vp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

a.rz-share {
	min-width: 50px;
	border-radius:5px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
	a.rz-share span {
	 line-height: 20px;
	 color: #fff;
	 text-shadow: 1px 1px 1px #222;
	 font-size: 10px;
	 display: block;
	 padding: 0 5px;
	}
	/*Bluesky*/
	a.rz-share.bluesky {
		background-color:#0085ff;
	}
	a.rz-share.tumblr{
		background-color:#001935;
	}
	a.rz-share.mastodon{
		background-color:#2f0c7a;
	}
	/*Facebook*/
	a.rz-share.facebook {
		background-color:#3B5998;
	}
	/*Threads*/
	a.rz-share.threads {
		background-color:#000000;
	}
	/*LinkedIn*/
	a.rz-share.linkedin {
		background-color:#0e76a8;
	}
	/*Reddit*/
	a.rz-share.reddit {
		background-color:#CEE3F8;
	}
	/*Pinterest*/
	a.rz-share.pinterest {
		background-color:#C92228;
	}
	/*RSS*/
	a.rz-share.rss-feed {
		background-color:#F64C0B;
	}
	/* Email */
	a.rz-share.rz-mail {
		background-color:#333333;
	}

	.rz-sharethis.small a.rz-share {
		background-position: center center;
		background-repeat: no-repeat;
		height: 16px;
		width: 16px;
		min-width: 16px;
		border-radius: 0;
		margin-left: 10px;
	}
	.rz-sharethis.small a.rz-share span { display: none;}
	.rz-sharethis.small a.rz-share.bluesky {
		background-image: url('icons_small/bluesky.png');
	}
	/* Tumblr */
	.rz-sharethis.small a.rz-share.tumblr {
		background-image: url('icons_small/tumblr.png');
	}
	/* Mastodon */
	.rz-sharethis.small a.rz-share.mastodon {
		background-image: url('icons_small/mastodon.png');
	}
	/*Facebook*/
	.rz-sharethis.small a.rz-share.facebook {
		background-image: url('icons_small/facebook.png');
	}
	/*Threads*/
	.rz-sharethis.small a.rz-share.threads {
		background-image: url('icons_small/threads.png');
	}
	/*LinkedIn*/
	.rz-sharethis.small a.rz-share.linkedin {
		background-image: url('icons_small/linkedin.png');
	}
	/*Reddit*/
	.rz-sharethis.small a.rz-share.reddit {
		background-image: url('icons_small/reddit.png');
	}
	/*Pinterest*/
	.rz-sharethis.small a.rz-share.pinterest {
		background-image: url('icons_small/pinterest.png');
	}
	/*RSS*/
	.rz-sharethis.small a.rz-share.rss-feed {
		background-image: url('icons_small/rss.png');
	}
	/*Email*/
	.rz-sharethis.small a.rz-share.rz-mail {
		background-image: url('icons_small/email.png');
	}

	.rz-sharethis.medium a.rz-share {
		background-position: center center;
		background-repeat: no-repeat;
		height: 24px;
		width: 24px;
		min-width: 24px;
		border-radius: 0;
	}
	.rz-sharethis.medium a.rz-share span { display: none;}
	.rz-sharethis.medium a.rz-share.bluesky {
		background-image: url('icons_medium/bluesky.png');
	}
	/* Tumblr */
	.rz-sharethis.medium a.rz-share.tumblr {
		background-image: url('icons_medium/tumblr.png');
	}
	/* Mastodon */
	.rz-sharethis.medium a.rz-share.mastodon {
		background-image: url('icons_medium/mastodon.png');
	}
	/*Facebook*/
	.rz-sharethis.medium a.rz-share.facebook {
		background-image: url('icons_medium/facebook.png');
	}
	/*Threads*/
	.rz-sharethis.medium a.rz-share.threads {
		background-image: url('icons_medium/threads.png');
	}
	/*LinkedIn*/
	.rz-sharethis.medium a.rz-share.linkedin {
		background-image: url('icons_medium/linkedin.png');
	}
	/*Reddit*/
	.rz-sharethis.medium a.rz-share.reddit {
		background-image: url('icons_medium/reddit.png');
	}
	/*Pinterest*/
	.rz-sharethis.medium a.rz-share.pinterest {
		background-image: url('icons_medium/pinterest.png');
	}
	/*RSS*/
	.rz-sharethis.medium a.rz-share.rss-feed {
		background-image: url('icons_medium/rss.png');
	}	
	/*Email*/
	.rz-sharethis.medium a.rz-share.rz-mail {
		background-image: url('icons_medium/email.png');
	}
	.rz-sharethis.large a.rz-share {
		background-position: center center;
		background-repeat: no-repeat;
		height: 32px;
		width: 32px;
		min-width: 32px;
		border-radius: 0;
	}
	.rz-sharethis.large a.rz-share span { display: none;}
	.rz-sharethis.large a.rz-share.bluesky {
		background-image: url('icons_large/bluesky.png');
	}
	/* Tumblr */
	.rz-sharethis.large a.rz-share.tumblr {
		background-image: url('icons_large/tumblr.png');
	}
	/* Mastodon */
	.rz-sharethis.large a.rz-share.mastodon {
		background-image: url('icons_large/mastodon.png');
	}
	/*Facebook*/
	.rz-sharethis.large a.rz-share.facebook {
		background-image: url('icons_large/facebook.png');
	}
	/*Threads*/
	.rz-sharethis.large a.rz-share.threads {
		background-image: url('icons_large/threads.png');
	}
	/*LinkedIn*/
	.rz-sharethis.large a.rz-share.linkedin {
		background-image: url('icons_large/linkedin.png');
	}
	/*Reddit*/
	.rz-sharethis.large a.rz-share.reddit {
		background-image: url('icons_large/reddit.png');
	}
	/*Pinterest*/
	.rz-sharethis.large a.rz-share.pinterest {
		background-image: url('icons_large/pinterest.png');
	}
	/*RSS*/
	.rz-sharethis.large a.rz-share.rss-feed {
		background-image: url('icons_large/rss.png');
	}	
	/*Email*/
	.rz-sharethis.large a.rz-share.rz-mail {
		background-image: url('icons_large/email.png');
	}	
	.rz-sharethis.label a.rz-share {
		background-position: 3px center;
		background-repeat: no-repeat;
	}
	.rz-sharethis.label a.rz-share span { 
		padding-left: 25px;
		line-height: 22px;
	}
	.rz-sharethis.label a.rz-share.bluesky {
		background-image: url('icons_small/bluesky.png');
	}
	/* Tumblr */
	.rz-sharethis.label a.rz-share.tumblr {
		background-image: url('icons_small/tumblr.png');
	}
	/* Mastodon */
	.rz-sharethis.label a.rz-share.mastodon {
		background-image: url('icons_small/mastodon.png');
	}
	/*Facebook*/
	.rz-sharethis.label a.rz-share.facebook {
		background-image: url('icons_small/facebook.png');
	}
	/*Threads*/
	.rz-sharethis.label a.rz-share.threads {
		background-image: url('icons_small/threads.png');
	}
	/*LinkedIn*/
	.rz-sharethis.label a.rz-share.linkedin {
		background-image: url('icons_small/linkedin.png');
	}
	/*Reddit*/
	.rz-sharethis.label a.rz-share.reddit {
		background-image: url('icons_small/reddit.png');
	}
	/*Pinterest*/
	.rz-sharethis.label a.rz-share.pinterest {
		background-image: url('icons_small/pinterest.png');
	}
	/*RSS*/
	.rz-sharethis.label a.rz-share.rss-feed {
		background-image: url('icons_small/rss.png');
	}
	/*Email*/
	.rz-sharethis.label a.rz-share.rz-mail {
		background-image: url('icons_small/email.png');
	}
	
	/* FontAwesome Icons */
	.rz-sharethis.iconfont a.rz-share::after {
		font-family: 'socialicons';
	}

	.rz-sharethis.small.iconfont a.rz-share span { display: none;}
	.rz-sharethis.small.iconfont a.rz-share { background: none; }
	.rz-sharethis.small.iconfont a.rz-share::after {
		font-size: 20px;
	}

	.rz-sharethis.medium.iconfont a.rz-share span { display: none;}
	.rz-sharethis.medium.iconfont a.rz-share { background: none; }
	.rz-sharethis.medium.iconfont a.rz-share::after {
		font-size: 28px;
	}

	.rz-sharethis.large.iconfont a.rz-share span { display: none;}
	.rz-sharethis.large.iconfont a.rz-share { background: none; }
	.rz-sharethis.large.iconfont a.rz-share::after {
		font-size: 36px;
	}

	.rz-sharethis.label.iconfont a.rz-share { background: none;}
	.rz-sharethis.label.iconfont a.rz-share::after {
		font-size: 20px;
		float:left;
		margin-left:3px;
		margin-top:-21px;
	}	
	
	/*Bluesky*/
	.rz-sharethis.iconfont a.rz-share.bluesky::after {
		content: "\e900";
	}
	/*Tumblr*/
	.rz-sharethis.iconfont a.rz-share.tumblr::after{
		content: "\f174";
	}
	/*Mastodon*/
	.rz-sharethis.iconfont a.rz-share.mastodon::after{
		content: "\e901";
	}
	/*Facebook*/
	.rz-sharethis.iconfont a.rz-share.facebook::after {
		content: "\f230";
	}
	/*Threads*/
	.rz-sharethis.iconfont a.rz-share.threads::after {
		content: "\e902";
	}
	/*LinkedIn*/
	.rz-sharethis.iconfont a.rz-share.linkedin::after {
		content: "\f08c";
	}
	/*Reddit*/
	.rz-sharethis.iconfont a.rz-share.reddit::after {
		content: "\f1a2";
	}
	/*Pinterest*/
	.rz-sharethis.iconfont a.rz-share.pinterest::after {
		content: "\f0d3";
	}
	/*RSS*/
	.rz-sharethis.iconfont a.rz-share.rss-feed::after {
		content: "\f143";
	}	
	/*Email*/
	.rz-sharethis.iconfont a.rz-share.rz-mail::after {
		content: "\f0e0";
	}